# Sarcasm classification: BernoulliNB

Import all needed libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

from sklearn.metrics import recall_score, precision_score, confusion_matrix, f1_score, precision_recall_curve,average_precision_score

Set properties for reading dataset.

In [2]:
date_file = "data/tweets_all.csv"
names=['tweetID','tweet', 'target','pos','neu','neg','caps']

In [3]:
df = pd.read_csv(date_file, delimiter='|', encoding="utf-8", quotechar='"', header=None, names=names)

Remove and convert objects to numeric values and drop NA's (only around 10 are being dropped).

In [4]:
df = df.dropna()
df["target"] = df["target"].convert_objects(convert_numeric=True)

df = df.dropna()
df["target"] = df["target"].astype(int)

df.head()

,tweetID,tweet,target,pos,neu,neg,caps
0,500370339566985216,Zo fijn die #PostNL beloofd eerst tm vanmorgen...,1,0.091,0.909,0.000,0
1,411900187649794048,Heel fijn Vast op Dordrecht geen treinverkeer ...,1,0.114,0.762,0.124,0
2,175627549802639361,echt geweldig blyk denk dat ik dan maar weer v...,1,0.186,0.814,0.000,0
3,321699315707936769,fijn een product hebben dat niet werkt #kpn,1,0.184,0.816,0.000,0
4,258575794601865217,lekker chatten met een medewerker van tmobile,1,0.327,0.673,0.000,0

In [5]:
tweets = df["tweet"].tolist()
labels = df["target"].tolist()

In [6]:
y=[]
not_ = ["#not", "#sarcasm", "#sarcasme"]
sar = "#sarcasm"

for tweet in tweets:
    if any(s in tweet for s in not_):
        y.append(1)
    else:
        y.append(0)

In [7]:
from sklearn.metrics import recall_score, precision_score, f1_score

recall = recall_score(labels, y)
precision = precision_score(labels, y)
confusion = confusion_matrix(labels, y, labels=None)
f1 = f1_score(labels, y)

print("Precision: "+str(precision))
print("Recall: "+str(recall))
print("F1 score: "+str(f1))
print("\nConfusion matrix: ")
print("\n   S    -S")
print(" S TP   FN")
print("-S FP   TN")
print(confusion)

Precision: 0.98250728863
Recall: 0.226936026936
F1 score: 0.368708971554

Confusion matrix:

   S    -S
 S TP   FN
-S FP   TN
[[1478    6]
 [1148  337]]